@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("/assets/fonts/OpenSans-SemiBold.eot");
    src: url("/assets/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
         url("/assets/fonts/OpenSans-SemiBold.woff") format("woff"),
         url("/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("/assets/fonts/OpenSans-Bold.eot");
    src: url("/assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
         url("/assets/fonts/OpenSans-Bold.woff") format("woff"),
         url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/assets/fonts/Roboto-Regular.eot");
    src: url("/assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/Roboto-Regular.woff2") format("woff2"),
         url("/assets/fonts/Roboto-Regular.woff") format("woff"),
         url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Calibri-Bold";
    src: url("/assets/fonts/Calibri Bold.eot");
    src: url("/assets/fonts/Calibri Bold.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/Calibri Bold.woff2") format("woff2"),
         url("/assets/fonts/Calibri Bold.woff") format("woff"),
         url("/assets/fonts/Calibri Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Calibri Light";
    src: url("/assets/fonts/calibril.eot");
    src: url("/assets/fonts/calibril.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/calibril.woff2") format("woff2"),
    url("/assets/fonts/calibril.woff") format("woff"),
    url("/assets/fonts/calibril.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("/assets/fonts/Lato-Bold.eot");
    src: url("/assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Lato-Bold.woff2") format("woff2"),
    url("/assets/fonts/Lato-Bold.woff") format("woff"),
    url("/assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.calibri-bold {
    font-family: "Calibri-Bold";
}

.calibri-light {
    font-family: "Calibri Light";
}

.lato-bold {
    font-family: "Lato-Bold";
}