$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$main_color: #1d1d1d;
$dark_gray: #333333;
$light_blue: #679dca;
$dark_blue: #041e42;
$light_gray: #3e3e3e;
$solid_gray: #aaaaaa;

.main_color {
    color: $main_color;
}

.main_color-bg {
    background-color: $main_color;
}

.dark_gray {
    color: $dark_gray;
}

.dark_gray-bg {
    background-color: $dark_gray;
}

.light_blue {
    color: $light_blue;
}

.light_blue-bg {
    background-color: $light_blue;
}

.dark_blue {
    color: $dark_blue;
}

.dark_blue-bg {
    background-color: $dark_blue;
}

.light_gray {
    color: $light_gray;
}

.light_gray-bg {
    background-color: $light_gray;
}

.solid_gray {
    color: $solid_gray;
}

.solid_gray-bg {
    background-color: $solid_gray;
}