body {
    margin: 0;
    font-family: Calibri, sans-serif;
    color: $main_color;
    position: relative;
    &.overflow-hidden {
        overflow: hidden;
    }
    &.overflow-visible {
        overflow: visible !important;
    }
    &.padding-right-0 {
        padding-right: 0 !important;
    }
    &.modal-open {
        overflow: hidden;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-bottom-#{$i * 5} {
        padding-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-top-#{$i * 5} {
        padding-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-left-#{$i * 5} {
        padding-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-right-#{$i * 5} {
        padding-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only)    {
        .padding-bottom-sm-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-top-sm-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-left-sm-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-right-sm-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs)    {
        .padding-bottom-xs-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-top-xs-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-left-xs-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-right-xs-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    .margin-left-#{$i * 5} {
        margin-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-right-#{$i * 5} {
        margin-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-bottom-#{$i * 5} {
        margin-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-top-#{$i * 5} {
        margin-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 30 * 2 {
    .max-width-#{$i * 10} {
        max-width: 0px + $i * 10!important;
    }
}

@for $i from 0 through 15 * 2 {
    @include breakpoint($xs)    {
        .max-width-xs-#{$i * 10} {
            max-width: 0px + $i * 10!important;
        }
    }
}

@for $i from 0 through 20 {
    .width-#{$i * 5} {
        width: 0% + $i * 5!important;
    }
}

@for $i from 0 through 20 {
    @include breakpoint($xs) {
        .width-xs-#{$i * 5} {
            width: 0% + $i * 5!important;
        }
    }
}

@for $i from 0 through 30 * 2 {
    .min-width-#{$i * 10} {
        min-width: 0px + $i * 10!important;
    }
}

@for $i from 0 through 15 * 2 {
    @include breakpoint($xs)    {
        .min-width-xs-#{$i * 10} {
            min-width: 0px + $i * 10!important;
        }
    }
}


@for $i from 0 through 150 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
    }
}

@for $i from 0 through 150 {
    @include breakpoint($xs)    {
        .fs-xs-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}

@for $i from 0 through 80 {
    .line-height-#{$i} {
        line-height: 0px + $i!important;
    }
}

@for $i from 0 through 80 {
    @include breakpoint($xs)    {
        .line-height-xs-#{$i} {
            line-height: 0px + $i!important;
        }
    }
}

.display-block {
    display: block !important;
}

.inline-block {
    display: inline-block; float: none; vertical-align: middle;
}

.inline-block-important {
    display: inline-block !important; float: none; vertical-align: middle;
}

.inline-block-top {
    display: inline-block; float: none; vertical-align: top;
}

.inline-block-bottom {
    display: inline-block; float: none; vertical-align: bottom;
}

.hide-xs {
    @include breakpoint($xs)    {
        display: none !important;
    }
}

.show-xs {
    display: none;
    @include breakpoint($xs)    {
        display: block !important;
    }
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center-xs {
    @include breakpoint($xs)    {
        text-align: center !important;
    }
}

.text-left-xs {
    @include breakpoint($xs)    {
        text-align: left !important;
    }
}

.text-right-xs {
    @include breakpoint($xs)    {
        text-align: right !important;
    }
}

.clear-bootstrap-row {
    @include breakpoint($xs)    {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}

.margin-0-auto {
    margin: 0 auto;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-xs {
    @include breakpoint($xs)    {
        padding-right: 0 !important;
        padding-left: 0 !important;;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

button, input[type='submit'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

input[type='file'].hide-input {
    display: none;
}

.slick-slider {
    .slick-slide {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
}

* {
    outline: none;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.nowrap {
    white-space: nowrap;
}

.list-inline {
    margin-left: 0 !important;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #4a4a4a;
    &:hover, &:active, &:visited, &:focus {
        text-decoration:none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.visibility-visible-important {
    visibility: visible !important;
}

.captcha-container {
    justify-content: center;
    .refresh-captcha {
        font-size: 20px;
        color: white;
        background-color: #21bef4;
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}